*{
padding: 0;
margin: 0;
font-family: sans-serif;
}

.banner{
height: 120vh;
width: 100%;
background-image: linear-gradient(rgb(0, 0, 0.8) ,rgba(0,0,0.8)) ;
background-image: url(2.jpg);
background-position: center;
background-size: cover;

}

.navbar{
display: flex;
width: 90%;
padding: 32px 0;
margin: auto;
align-items: center;
justify-content:space-between;

}
.logo{
cursor: pointer;
border-radius: 50%;

}

.navbar ul li {

    list-style-type: none;
    display: inline-block;
    margin: 0 25px;

}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
}

.content{

    width: 100%;
    position: absolute;
    top: 40%;
    color: rgb(255, 255, 255);
    text-align: center;
}

.content h1{
    font-size: 65px;
}

.content p{
    margin: 20px auto;
    color:#fff;
    font-size: 20px;
}

button{
    width: 200px;
    padding: 15px 0;
    border-radius: 35px;
    margin: 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    border: none;
    background-color: #616683;
    font-size: 17px;
    }

    button:hover{
        color: black;
        transition: 1s;
    }




























